/*fonte*/
@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    src: local('Chakra Petch Regular'), local('ChakraPetch-Regular'), url(cIf6MapbsEk7TDLdtEz1BwkWn6pg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body, html{
    font-family: 'Chakra Petch',"Arial", sans-serif !important;
    hyphens: auto; 
}
#carre{
    position: relative;
    display: none;
    top: 30%;
    left: 38%;
    width: 40px;
    height: 40px;
}
#carregando{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #fff;
    background-image: url("../foto_p/preloadPac.svg");
    background-repeat: no-repeat;
    background-position: center;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Chakra Petch',"Arial", sans-serif !important;
}
#pesquisa::-webkit-input-placeholder{
    font-family: 'Chakra Petch',"Arial", sans-serif !important;    
    color: #fff;
    font-size: 15px;
}
/*Placeholder firefox 18-*/
#pesquisa::-moz-placeholder{
    font-family: 'Chakra Petch',"Arial", sans-serif !important;
    color: #fff;
    font-size: 15px;
}
#pesquisa{
    font-family: 'Chakra Petch',"Arial", sans-serif !important;    
    color: #fff;
    font-size: 15px;
}
nav{
    background-color: #1d61e0 !important;
}
.preto{
    color: #000 !important;
}
#tudo{
    position: relative;
    width: 100%;
    height: 100%;
}
nav a{
    font-family: 'Chakra Petch',"Arial", sans-serif !important;
    transition: color 0.5s ease;
    color: #fff !important;
}
nav a:hover{
    color: #111 !important;
    transition: color 0.5s ease-in;
}
.h2Ti{
    font-size: 20px;
}
#cF{
    margin-bottom: 0;
    height: 100%;
}
#footer{
    margin-bottom: 0;
    bottom: 0; 
    color:#fff;
    background-color: #1d61e0; 
    width: 100%;
}
#form_login{
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
}
#form_login_index{
    margin-top: 50px;
    background: #fff;
}
#form_produto{
    width: 1100px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 108px;
}
form{
    border: 1px solid #1d61e0;
}

#p_login{
    background-color: #1d61e0;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.apaI{
    display: none;
}
.apaV{
    display: none; 
}
#vid{
    border: 2px solid #1d61e0;
    width: 300px;
    height: 300px;
    margin: 0 auto; 
}
#img{
    border: 2px solid #1d61e0;
    width: 300px;
    height: 300px;
    margin: 0 auto; 
}   
#novaImg{
    width: 400px;
    margin-left: 30%;
    margin-right: 30%;
}
input[type=checkbox] + label{
    color: #f0506e;
}
#pre{
    width: 500px;
    height: 450px;
    border: 2px solid #1d61e085;
}
#table{
    width: 80%;
    margin: 0 auto;
}
#tableCa{
    width: 80%;
    margin: 0 auto;
}
#table tbody tr td img{
    max-width: 100px;
    height: 100px;
    margin: 0 auto;
    
}
.ca{
    width: 50px;
    height: 50px;
}
.produtos{
    width: 300px;
    margin: 10px;
    border: 2px solid #1d61e085;
}
.responsivo{
    display: none;
}
.categoria{
    width: 800px;
    margin: 0 auto;
}
.imgT{
    width: 100%;
    height: 300px;
}
.menu{
    color: #fff !important;
}
#form_e{
    border:none;
}
#number{
    width: 60px;
}
#menuRes{
    background-color: #1d61e0f6;
}
.erroSp{
    color:#f0506e;
}
#c{
    width: 40px; height: 40px; position: relative; left: 150px; top: -40px;
}
#conteudo{
    margin-top: 10px;
}
.conteudo{
    width: 500px;
    max-height: 450px;
    margin: 0 auto;
}
.img_top{
    max-width: 400px;
    height: 300px;
}
#detalhes{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
    width: 700px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#detalhes video{
    width: 90%;
}
.produto_detalhe_foto{
    border: 2px solid #1d61e0f6;
    width: 200px;
    height: 200px;
    margin-left: 40px;
    margin-top: 10px;
    padding: 1px;
}
.produto_detalhe_foto img{
    height: 100%;
}
#form_ed{
    border: none;
}
.wrap{
    width: 400px;
    margin-top: 100px;
}
.card{
    padding: 5px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    max-width: 300px;
    max-height: 600px;
    background-color: rgb(246, 246, 246);
    text-align: center;
    font-size: 16px;
    float: left;
    margin: 10px;
}
.card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6)
}
.container{
    padding: 50px;
    margin-top: 10px;
}
.divCen{
    width: 80%;
    margin-left: auto;
}
@media screen and (max-width: 800px){
    .responsivo{
        display: inline-flex;
    }
    .esconde{
        display: none;
    }
    .categoria{
        width: 90%;
        margin: 0 auto;
        margin-right: 30px;
    }
    .divCen{
        width: 90%;
        margin-left: 20px;
    }
    #detalhes{
        width: 90%;
    }
}
@media screen and (max-width: 1006px){
    #form_produto{
        width: 90%;
        margin-bottom: 100%;
    }
    #form_login{
        width: 90%;
    }
    #img{
        height: 300px;
        width: 90%;
    }
    #pre{
        height: 300px;
        width: 90%;
        margin: 0 auto ;
    }
    #vid{
        height: 300px;
        width: 90%;
    }
}   